[type='radio'] {
  display: none;
}

.bg-soft-blue {
    background-color: #9ec2f7;
}

.bg-dark-blue {
  background-color: #0d1545;
}

.img-fit-menu {
  width: 100%;
  /* or any custom size */
  height: 100%;
  max-width: 100px;
  max-height: 100px;
  object-fit: contain;
}