<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <app-page-title
        [title]="pageTitle"
        [breadcrumbItems]="breadCrumbItems"
        ></app-page-title>
      <form action="" [formGroup]="formProfile" disabled="isView">
      <div class="card mt-4">
        <div class="card-body">
            <fieldset [disabled]="is.view">
              <div class="row">
                <div class="col-md-12 pb-2">
                  <h5 class="text-primary">Data Profil</h5>
                  <hr />
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                   <div class="form-group row">
                    <label
                      for="nama"
                      class="col-md-3 col-form-label col-form-label-sm"
                      >Gambar Profile</label
                    >
                    <div class="col-md-9">
                      <div class="mb-3">
                        <img [src]="image"  (click)="selectImage.click()" class="img-fluid img-thumbnail">
                          <input type="file" (change)="updateImage($event)" style="display: none" #selectImage>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-md-6">
                  <div class="form-group row">
                    <label
                      for="nama"
                      class="col-md-3 col-form-label col-form-label-sm"
                      >Nama</label
                    >
                    <div class="col-md-9">
                      <input
                        type="nama"
                        class="form-control form-control-sm"
                        name="nama"
                        placeholder="nama"
                        formControlName="nama"
                      />
                    </div>
                  </div>
                  <div class="form-group row">
                    <label
                      for="email"
                      class="col-md-3 col-form-label col-form-label-sm"
                      >Email</label
                    >
                    <div class="col-md-9">
                      <input
                        type="email"
                        class="form-control form-control-sm"
                        name="email"
                        placeholder="example@gmail.com"
                        formControlName="email"
                      />
                    </div>
                  </div>
                  <div class="form-group row">
                    <label
                      for="telpon"
                      class="col-md-3 col-form-label col-form-label-sm"
                      >No. Telp</label
                    >
                    <div class="col-md-9">
                      <input
                        type=""
                        class="form-control form-control-sm"
                        name="telpon"
                        placeholder="telpon"
                        formControlName="telepon"
                        onkeypress="return /[0-9]/i.test(event.key)"
                      />
                    </div>
                  </div>
                  <div class="form-group row">
                    <label
                      for="alamat"
                      class="col-md-3 col-form-label col-form-label-sm"
                      >Alamat</label
                    >
                    <div class="col-md-9">
                      <textarea
                        name="alamat"
                        id="alamat"
                        formControlName="alamat"
                        class="form-control form-control-sm"

                      ></textarea>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label
                      for="m_roles_id"
                      class="col-md-3 col-form-label col-form-label-sm"
                      >Hak Akses</label
                    >
                    <div class="col-md-9">
                        <select class="form-control form-control-sm" name="" id="" formControlName="hakAkses">
                          <option *ngFor="let item of listAkses" value="{{item.id}}">{{item.nama}}</option>
                        </select>
                    </div>
                  </div>
                </div>

              </div>
              <br />
              <br />
            </fieldset>
         
        </div>
        <div class="card-footer">
          <div class="float-right">
            <button class="btn btn-light btn-sm mr-2">
              <i class="fa fa-chevron-left font-size-12 align-middle"></i>
              Kembali
            </button>
            <button class="btn btn-primary btn-sm" (click)="onSubmit()">
              <i class="fa fa-save font-size-12 align-middle mr-2" ></i>
              Simpan
            </button>
          </div>
        </div>
      </div>
      </form>
    </div>
  </div>
</div>
