<div class="container">
  <div class="row">
    <div class="col-md-12">
      <app-page-title
        [title]="pageTitle"
        [breadcrumbItems]="breadCrumbItems"
        ></app-page-title>
        <br>
        <div class="row">
            <div class="col-lg-5 col-md-5 col-6">
                <div class="card">
                    <div class="card-body">
                        <button type="button" class="btn btn-secondary btn-sm mr-2">Antrian</button>
                        <button type="button" class="btn btn-primary btn-sm mr-2">Diproses</button>
                        <button type="button" class="btn btn-info btn-sm  mr-2">Siap Diambil</button>
                        <button type="button" class="btn btn-success btn-sm  mr-2">Selesai</button>
                        <button type="button" class="btn btn-danger btn-sm ">Dibatalkan</button>
                    </div>
                </div>
                <div class="scrollableDivOrder">
                    <div class="card rounded">
                        <div class="row no-gutters">
                            <div class="col-md-4 card-body bg-primary rounded">
                            <h6 class="text-white ml-2">Pesanan</h6>
                            <div class="col-10 float-right">
                                <h5 class="text-white mb-0">002/KWT/01/2022</h5>
                            </div>
                            </div>
                            <div class="col-md-8">
                                <div class="card-body text-right">
                                    <h5 class="card-title"><span class="badge bg-secondary text-white float-left">Dalam Antrian</span> Yogi Bagus Karunia</h5>
                                    <p class="card-text"><small class="text-muted">10 Okt 2022 20:00:00</small></p>
                                    <h5 class="card-title">10 Items <span class="text-success fw-bold">(10000)</span></h5>
                                    <a  href="javascript: void(0);" class=" stretched-link"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card rounded">
                        <div class="row no-gutters">
                            <div class="col-md-4 card-body bg-primary rounded">
                            <h6 class="text-white ml-2">Pesanan</h6>
                            <div class="col-10 float-right">
                                <h5 class="text-white mb-0">002/KWT/01/2022</h5>
                            </div>
                            </div>
                            <div class="col-md-8">
                                <div class="card-body text-right">
                                    <h5 class="card-title"><span class="badge bg-secondary text-white float-left">Dalam Antrian</span> Yogi Bagus Karunia</h5>
                                    <p class="card-text"><small class="text-muted">10 Okt 2022 20:00:00</small></p>
                                    <h5 class="card-title">10 Items <span class="text-success fw-bold">(10000)</span></h5>
                                    <a  href="javascript: void(0);" class=" stretched-link"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card rounded">
                        <div class="row no-gutters">
                            <div class="col-md-4 card-body bg-primary rounded">
                            <h6 class="text-white ml-2">Pesanan</h6>
                            <div class="col-10 float-right">
                                <h5 class="text-white mb-0">002/KWT/01/2022</h5>
                            </div>
                            </div>
                            <div class="col-md-8">
                                <div class="card-body text-right">
                                    <h5 class="card-title"><span class="badge bg-secondary text-white float-left">Dalam Antrian</span> Yogi Bagus Karunia</h5>
                                    <p class="card-text"><small class="text-muted">10 Okt 2022 20:00:00</small></p>
                                    <h5 class="card-title">10 Items <span class="text-success fw-bold">(10000)</span></h5>
                                    <a  href="javascript: void(0);" class=" stretched-link"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card rounded">
                        <div class="row no-gutters">
                            <div class="col-md-4 card-body bg-primary rounded">
                            <h6 class="text-white ml-2">Pesanan</h6>
                            <div class="col-10 float-right">
                                <h5 class="text-white mb-0">002/KWT/01/2022</h5>
                            </div>
                            </div>
                            <div class="col-md-8">
                                <div class="card-body text-right">
                                    <h5 class="card-title"><span class="badge bg-secondary text-white float-left">Dalam Antrian</span> Yogi Bagus Karunia</h5>
                                    <p class="card-text"><small class="text-muted">10 Okt 2022 20:00:00</small></p>
                                    <h5 class="card-title">10 Items <span class="text-success fw-bold">(10000)</span></h5>
                                    <a  href="javascript: void(0);" class=" stretched-link"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card rounded">
                        <div class="row no-gutters">
                            <div class="col-md-4 card-body bg-primary rounded">
                            <h6 class="text-white ml-2">Pesanan</h6>
                            <div class="col-10 float-right">
                                <h5 class="text-white mb-0">002/KWT/01/2022</h5>
                            </div>
                            </div>
                            <div class="col-md-8">
                                <div class="card-body text-right">
                                    <h5 class="card-title"><span class="badge bg-secondary text-white float-left">Dalam Antrian</span> Yogi Bagus Karunia</h5>
                                    <p class="card-text"><small class="text-muted">10 Okt 2022 20:00:00</small></p>
                                    <h5 class="card-title">10 Items <span class="text-success fw-bold">(10000)</span></h5>
                                    <a  href="javascript: void(0);" class=" stretched-link"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
            <div class="col-lg-7 col-md-7 col-6">
                <div class="card">
                    <div class="card-body pr-0">
                       <h3>Pesanan 002/KWT/01/2022</h3>
                       <hr>
                       <div class="scrollableDivItem">
                           <div class="row no-gutters">
                                <div class="col-md-4">
                                <img src="https://i.ibb.co/R9kJtny/1637916829.png" class="img-fluid" alt="">
                                </div>
                                    <div class="col-md-8">
                                        <div class="card-body text-right">
                                            <h5 class="card-title">Ayam Geprek</h5>
                                            <p class="card-text">
                                                <small class="text-muted"><b>Jumlah</b> : 1 Items</small><br>
                                                <small class="text-muted"><b>Topping</b> : Boba(2000), Es batu(2000)</small><br>
                                                <small class="text-muted"><b>Level</b> : 1</small>
                                            </p>
                                            <h5 class="card-title">Sub Total: <span class="text-success fw-bold">Rp 10000</span></h5>
                                        </div>
                                    </div>
                            </div>
                            <hr>
                            <div class="row no-gutters">
                                <div class="col-md-4">
                                <img src="https://i.ibb.co/R9kJtny/1637916829.png" class="img-fluid" alt="">
                                </div>
                                    <div class="col-md-8">
                                        <div class="card-body text-right">
                                            <h5 class="card-title">Ayam Geprek</h5>
                                            <p class="card-text">
                                                <small class="text-muted"><b>Jumlah</b> : 1 Items</small><br>
                                                <small class="text-muted"><b>Topping</b> : Boba(2000), Es batu(2000)</small><br>
                                                <small class="text-muted"><b>Level</b> : 1</small>
                                            </p>
                                            <h5 class="card-title">Sub Total: <span class="text-success fw-bold">Rp 10000</span></h5>
                                        </div>
                                    </div>
                            </div>
                       </div>
                    </div>
                </div>
                <div class="card bg-primary">
                    <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                    <button type="button" class="btn btn-danger">Tolak</button>
                    <button type="button" class="btn btn-success">Terima</button>
                    </div>
                    <div class=" p-4 ">
                        <span class="float-right text-white">Voucher 20% (30000)</span><br>
                        <div class="d-flex justify-content-between">
                            <h3 class="text-white">Grand Total</h3>
                            <h2 class="text-white">Rp 10000</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
</div>
