<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <app-page-title
        [title]="pageTitle"
        [breadcrumbItems]="breadCrumbItems"
        ></app-page-title>
      <div class="card mt-4">
        <div class="card-body">
        <div class="input-group mb-3 col-lg-4 col-12">
            <input type="text" class="form-control form-control-sm mr-2" aria-label="Text input with segmented dropdown button" placeholder="pencarian..." [(ngModel)]="cari.nama">
            <select class="form-control form-control-sm mr-2" name="" id="" [(ngModel)]="cari.status">
                <option value="">- no filter -</option>
                <option value="1">Sudah Terverfikasi</option>
                <option value="0">Belum Terverifikasi</option>
              </select>
            <button type="button" class="btn btn-primary btn-sm mr-2" (click)="searchCustomer(cari)"><i class="fas fa-search"></i> Cari</button>
            <button type="button" class="btn btn-info btn-sm" (click)="searchCustomer(false)"><i class="fas fa-sync"></i></button>
        </div>
            <table class="table table-striped table-hover table-sm ">
                <thead class="bg-primary text-white">
                    <tr>
                        <th>No</th>
                        <th>Nama</th>
                        <th>Email</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of listCustomer; let i = index">
                        <td class="align-middle">{{i+1}}</td>
                        <td class="align-middle"><img src="https://avamini.decko.my.id/api/?t={{item.nama}}" class="img-fluid img-thumbnail rounded-circle" style="max-width: 50px;" alt=""> {{item.nama}}</td>
                        <td class="align-middle">{{item.email}}</td>
                        <td class="align-middle">
                            <button type="button" id="{{item.id_user}}" class="btn btn-warning btn-sm" (click)="openModal($event)" *ngIf="item.status == 0">Belum Terverifikasi</button>
                            <button type="button" id="{{item.id_user}}" class="btn btn-success btn-sm" (click)="openModal($event)" *ngIf="item.status != 0">Sudah Terverifikasi</button>
                        </td>
                    </tr>
                </tbody>
            </table>
            

            <!-- The Modal -->
            <div class="modal bg-modal" id="myModal" [style.display]="showModal ? 'block' : 'none'">
                <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                
                    <!-- Modal Header -->
                    <div class="modal-header bg-primary">
                    <h4 class="modal-title text-white">Form Verifikasi</h4>
                    <button type="button" class="close text-white" data-dismiss="modal" (click) = "hide()">&times;</button>
                    </div>
                    
                    <!-- Modal body -->
                    <div class="modal-body">
                    <img src="{{detailCustomer.ktp}}" class="img-fluid img-thumbnail mb-2" onError="this.src='https://puprpkpp.riau.go.id/asset/img/default-image.png'" alt="KTP User">
                    <br>
                    <label for="">Aksi</label>
                    <br>
                        <button type="button" *ngIf="detailCustomer.status == 0" (click)="updateStatus(1)" class="btn btn-success btn-sm">Verifikasi</button>
                        <button type="button" *ngIf="detailCustomer.status == 1" (click)="updateStatus(0)" class="btn btn-danger btn-sm">Batalkan Verifikasi</button>
                        <button type="button" class="btn btn-secondary btn-sm float-right" data-dismiss="modal" (click) = "hide()">Tutup</button>
                    </div>    
                </div>
                </div>
            </div>
            
        </div>
      </div>
    </div>
  </div>
</div>
